.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.header-menu {
    width: 100%;
    height: 80px;
    background-color: #0063ba;
}
.logo {

    display: inline-flex;
}
.logo-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin: 25px 0 0 25px;
}

.menu-bar {
    display: inline-flex;
    color: white;
}
.account-bar {
    display: inline-flex;
    float: right;
    padding: 25px 20px;

}
.menu-bar li {
    display: inline-flex;
}
.cart-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    fill: white;
}
